.alt-header{
    display: flex;
    justify-content: space-between;
    padding:10px 0;
    opacity: 0.9;
    align-items: center;

}

.alt-header__column {
    width: 33%;
}


.alt-header__column:first-child{ 
    margin-right: auto;
}

.alt-header__column:nth-child(2){
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.alt-header__column:last-child{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.alt-header__column span:last-child{
    margin-left: 20px;
}